# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/.gitignore
/.idea/git_toolbox_blame.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/PVZ.iml
/.idea/vcs.xml
/.idea/git_toolbox_prj.xml
/out/*
/lib/javafx-sdk-23.0.1/legal/javafx.base/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-23.0.1/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-23.0.1/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-23.0.1/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-23.0.1/legal/javafx.media/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-23.0.1/legal/javafx.swing/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-23.0.1/legal/javafx.web/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-23.0.1/legal/javafx.base/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-23.0.1/legal/javafx.controls/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-23.0.1/legal/javafx.fxml/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-23.0.1/legal/javafx.graphics/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-23.0.1/legal/javafx.media/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-23.0.1/legal/javafx.swing/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-23.0.1/legal/javafx.web/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-23.0.1/legal/javafx.media/directshow.md
/lib/javafx-sdk-23.0.1/legal/javafx.media/glib.md
/lib/javafx-sdk-23.0.1/legal/javafx.media/gstreamer.md
/lib/javafx-sdk-23.0.1/legal/javafx.web/icu_web.md
/lib/javafx-sdk-23.0.1/legal/javafx.graphics/jpeg_fx.md
/lib/javafx-sdk-23.0.1/lib/libavplugin-54.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-56.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-57.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-ffmpeg-56.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-ffmpeg-57.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-ffmpeg-58.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-ffmpeg-59.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-ffmpeg-60.so
/lib/javafx-sdk-23.0.1/lib/libavplugin-ffmpeg-61.so
/lib/javafx-sdk-23.0.1/lib/libdecora_sse.so
/lib/javafx-sdk-23.0.1/legal/javafx.media/libffi.md
/lib/javafx-sdk-23.0.1/lib/libfxplugins.so
/lib/javafx-sdk-23.0.1/lib/libglass.so
/lib/javafx-sdk-23.0.1/lib/libglassgtk3.so
/lib/javafx-sdk-23.0.1/lib/libgstreamer-lite.so
/lib/javafx-sdk-23.0.1/lib/libjavafx_font.so
/lib/javafx-sdk-23.0.1/lib/libjavafx_font_freetype.so
/lib/javafx-sdk-23.0.1/lib/libjavafx_font_pango.so
/lib/javafx-sdk-23.0.1/lib/libjavafx_iio.so
/lib/javafx-sdk-23.0.1/lib/libjfxmedia.so
/lib/javafx-sdk-23.0.1/lib/libjfxwebkit.so
/lib/javafx-sdk-23.0.1/lib/libprism_common.so
/lib/javafx-sdk-23.0.1/lib/libprism_es2.so
/lib/javafx-sdk-23.0.1/lib/libprism_sw.so
/lib/javafx-sdk-23.0.1/legal/javafx.web/libxml2.md
/lib/javafx-sdk-23.0.1/legal/javafx.web/libxslt.md
/lib/javafx-sdk-23.0.1/legal/javafx.base/LICENSE
/lib/javafx-sdk-23.0.1/legal/javafx.controls/LICENSE
/lib/javafx-sdk-23.0.1/legal/javafx.fxml/LICENSE
/lib/javafx-sdk-23.0.1/legal/javafx.graphics/LICENSE
/lib/javafx-sdk-23.0.1/legal/javafx.media/LICENSE
/lib/javafx-sdk-23.0.1/legal/javafx.swing/LICENSE
/lib/javafx-sdk-23.0.1/legal/javafx.web/LICENSE
/lib/javafx-sdk-23.0.1/legal/javafx.graphics/mesa3d.md
/lib/javafx-sdk-23.0.1/legal/javafx.graphics/pipewire.md
/.idea/shelf/Uncommitted_changes_before_Update_at_04_12_2024_07_14_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_04_12_2024_07_14__Changes_.xml
/lib/javafx-sdk-23.0.1/legal/javafx.web/webkit.md
/.idea/shelf/Uncommitted_changes_before_Update_at_04_12_2024_07_14_[Changes]/shelved.patch
/.idea/libraries/javafx_swt.xml
